  <%- include('header') %>

  <div class="h-100 flex-grow-1" id="home">
    <%- include('hero', {
      title: title, 
      description: "Welcome back, ezeely access all your accounts with just a click of a button with ezeeBank."
    }) %>

    <div class="container text-white"  style="margin-top: -100px;">
      <div class="row">
        <div class="col-12 col-xl-10 mx-auto">
          <div class="row px-2 px-sm-4 px-xl-0">
            <div class="col-lg-4 credit-card"><%- include('summary', { account: accounts.checking }) %></div>
            <div class="col-lg-4 credit-card"><%- include('summary', { account: accounts.savings }) %></div>
            <div class="col-lg-4 credit-card">
              <%- include('summary', { account: accounts.credit }) %>
              <div class="container text-center d-block d-lg-none" style="transform: translateY(-140%);">
                <a href='/services/transfer' class="btn btn-warning btn-lg fs-5 text-uppercase" style="min-width: 320px;" type="button">Transfer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center py-5 d-none d-lg-block">
      <a href='/services/transfer' class="btn btn-warning btn-lg fs-5 text-uppercase" style="min-width: 320px;" type="button">Transfer</a>
    </div>
  </div>


  <%- include('footer') %>
  </body>
</html>
